# Object files
*.o

# Libraries
*.a

# Shared objects
*.so
*.so.*

# Assembly files
*.s

# Depend files
*.d

# Executables
client
server
*.out

# Junk files
Main.cpp
.project

# Doxygen Documentation
html
latex


