# Object files
*.o

# Libraries
*.a

# Shared objects
*.so
*.so.*

# Assembly files
*.s

# Depend files
*.d

# Executables
client
server
*.out

# Junk files
Main.cpp
.project

# Doxygen Documentation
html
latex


parallel2048.sublime-project
parallel2048.sublime-workspace

single_client
single_server

parallel_client
parallel_server

hash_test.cpp

*.fdb_latexmk
*.aux
*.log
*.synctex.gz

Makefile.bak
